################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GabrielBonatto_MacxRoberto_ProjetoFinal/.vs/GabrielBonatto_MacxRoberto_ProjetoFinal/v15
GabrielBonatto_MacxRoberto_ProjetoFinal/GabrielBonatto_MacxRoberto_ProjetoFinal/obj/Debug/GabrielBonatto_MacxRoberto_ProjetoFinal.csproj.CoreCompileInputs.cache
GabrielBonatto_MacxRoberto_ProjetoFinal/GabrielBonatto_MacxRoberto_ProjetoFinal/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/GabrielBonatto_MacxRoberto_ProjetoFinal/.vs/GabrielBonatto_MacxRoberto_ProjetoFinal/v16/Server/sqlite3
