################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GabrielBonatto_MacxRoberto_ProjetoFinal/.vs/GabrielBonatto_MacxRoberto_ProjetoFinal/v15
